@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
font-family: 'Roboto', sans-serif;

}

body{
  background: #CBCBCB;
}
th , td{
  padding: 0 15px;
  text-align: left;
}
td{
  padding:  15px;

   border-top:2px solid #CBCBCB;
}
